{% extends 'base.html' %}
{% block title %}
    Lista
{% endblock title %}

{% block content %}
    <div class="offset-1 col-10 list-div">
        <h1>Lista de tarefas</h1>
        <a id="add_link" href="/newtask">
            <div class="col-2 add-div">
                <i class="fa fa-plus" aria-hidden="true"></i>Adicionar tarefa
            </div> 
        </a>

        <div class="col-9 search-div">
            <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome da tarefa">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>

         {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <ul class="task-list">
            {% for task in tasks %}
                <li class="task-item">
                    <span><a href="/task/{{ task.id }}">{{ task.title }}</a></span>
                    <a href="delete/{{ task.id }}"><span><i class="fa fa-trash" aria-hidden="true"></i></span></a>
                    <a href="edit/{{ task.id }}"><span><i class="fa fa-edit" aria-hidden="true"></i></span></a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}